<!doctype html>
<html lang="pt-BR">

<head>
    <title>Editar Tarefa</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>

</head>

<body>

    <div class="container">
        <div class="row mt-5 mb-2">
            <div class="col">

                <a href="/"><i class="fas fa-arrow-left text-dark" style="font-size: 25px;"></i></a>
            </div>
        </div>
        <div class="card">

            <div class="card-header text-center">
                <h3>Editar Tarefa</h3>
            </div>
            <div class="card-body">
                <form action="/atualizarTarefa" method="POST">
                    <input type="hidden" name="id" value="<%= id %>">
                    <input type="text" placeholder="Titulo" name="titulo" class="form-control" value="<%= titulo %>">
                    <textarea name="descricao" class="form-control mt-3 mb-3"><%= descricao %></textarea>
                    <hr> Status
                    <hr>
                    <fieldset>

                        <% if(status == 1 ){ %>

                            <label><input type="radio" name="status" value="1" checked> Pendente</label><br>
                            <label><input type="radio" name="status" value="2" > Em execulção</label><br>
                            <label><input type="radio" name="status" value="3"> Concluida</label>


                            <% }else if(status == 2){%>

                                <label><input type="radio" name="status" value="1"> Pendente</label><br>
                                <label><input type="radio" name="status" value="2" checked > Em execulção</label><br>
                                <label><input type="radio" name="status" value="3"> Concluida</label>

                                <% }else{ %>

                                    <label><input type="radio" name="status" value="1"> Pendente</label><br>
                                    <label><input type="radio" name="status" value="2"> Em execulção</label><br>
                                    <label><input type="radio" name="status" value="3" checked> Concluida</label>

                                    <% } %>

                    </fieldset>
                    <hr> Prioridade
                    <hr>
                    <fieldset>
                        <label>

                            <% if(prioridade == 1){ %>
                                <input type="radio" name="prioridade" value="1" checked>
                            <% }else{ %>
                                <input type="radio" name="prioridade" value="1">
                            <% } %>
                            Baixa
                        </label>
                        <label translate="no">
                            <% if(prioridade == 2){ %>
                                <input type="radio" name="prioridade" value="2" checked>
                            <% }else{ %>
                                <input type="radio" name="prioridade" value="2">
                            <% } %>
                            Média
                        </label>
                        <label>
                            <% if(prioridade == 3){ %>
                                <input type="radio" name="prioridade" value="3" checked>
                            <% }else{ %>
                                <input type="radio" name="prioridade" value="3">
                            <% } %>
                            Alta
                        </label>

                    </fieldset>

                    <div class="text-center">
                        <button class="btn btn-success">
                            <i class="fas fa-save"></i>
                            Salvar Alterações
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>